.covidPage {
  padding: 20px 60px 20px 60px;
}

#cardGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cardGroup > div {
  width: 100%;
  max-width: 800px;
  margin: 20px;
}

@media screen and (min-width: 768px) {
  #cardGroup {
    flex-direction: row;
  }
  #cardGroup > div {
    margin: 20px;
    flex: 1;
  }
  #cardGroup > div:first-child {
    min-width: 400px; /* Adjust this value based on the minimum width you want for the map component */
  }
}

.checkboxContainer {
  padding-right: 20px;
}

#filterDropdown {
  margin-right: 20px;
}

#dropDownMenu {
  padding-left: 10px;
  margin-top: 10px;
}

.formCheckLabel {
  margin-left: 10px;
}

.cardBodyCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}
